<!DOCTYPE html>
<html>
<head>
	<title>Card Game</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>
<body>
	<div class="hand opponent_hand">
	</div>

	<div class="table">
		<div class="card red_card"></div>
	</div>

	<div class="hand my_hand">
		
	</div>
</body>
</html>